<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>t-hotel-map demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <!-- <link rel="import" href="../../iron&#45;demo&#45;helpers/demo&#45;snippet.html"> -->
    <link rel="import" href="../t-hotel-map.html">
    <style>
    @font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto Regular'),
    local('Roboto-Regular'),
    url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
    format('woff');
}

    </style>

  </head>
  <body>
    <t-hotel-map api-key="AIzaSyCT5zC7NQ1lzgAzPPu5W0jycrHkI-rYuB8"></t-hotel-map>
  </body>
</html>
